.Card__container {
	background: radial-gradient(#1fe4f5, #3fbafe);
	color: #ffffff;
	box-shadow: 0px 6px 10px #00000040;
	border-radius: 6px;
	width: 80%;
	margin: 12px;
}

.Card__title {
	font-size: 28px;
	margin: 24px 12px 40px 12px;
	text-align: start;
}

.Card__text {
	font-size: 24px;
	margin: 5px 12px;
	text-align: start;
}

.Card__listContainer {
	margin-top: 24px;
}

.Card__links {
	font-size: 14px;
	padding-bottom: 4px;
}

.Card__links > a {
	color: #ffffff;
	display: block;
	padding: 0;
	text-decoration: none;
}

.Card__links > a:hover {
	color: #92ebcc;
	text-decoration: underline;
}

.Card__description {
	display: flex;
	justify-content: space-between;
	margin-bottom: 12px;
}


@media only screen and (min-width: 480px) {

	.Card__container {
		width: 30%;
		padding: 24px 12px;
	}

	.Card__title {
		font-size: 40px;
	}
	
	.Card__text {
		font-size: 32px;
	}

	.Card__description {
		margin-bottom: 24px;
	}

}
